/*Main Starts*/
main{
    height: 550px;
}

.bio {
    height: 90%;
    width: 45%;
    padding: 25px 100px;
    margin: 0 auto;
}

.bio img {
    height: 150px;
    width: 150px;
    margin-right: 10px;
    border-radius: 50%;
    float: left;
}

.bio p {
    margin: 20px 0;
    font-size: 16px;
    line-height: 30px;
}
/*Main Ends*/


/*My icons starts*/
.my-icons {
    margin: 20px 0;
    height: 150px;
}

.my-message {
    font-size: 30px;
}

.load-cursor, .arrow, .my-message {
    display: inline-block;
    padding: auto;
}
/*My icons ends*/