/*Universal starts*/
li {
    display: inline-block;
}
/*Universal ends*/

/*Header starts*/
header {
    height: 200px;    
    background-color: green;
    text-align: center;
}
/*Header ends*/


/*Nav Starts*/
nav {
    height: 75px;
    position: sticky;
    top: 0;
    background-color: pink;
}

.nav-bar {
    height: 75px;
    font-size: 20px;
    text-align: center;
}

.nav-bar li {
    padding: 0px 20px;
    position: relative;
    top: 25px;
}
/*Nav Ends*/

/*Main Starts*/
main {
    height: 2000px;
    background-color: blue;
}
/*Main Ends*/