/*Universal starts*/
li {
    display: inline-block;
}
/*Universal ends*/

/*Header starts*/
header {
    height: 200px;    
    text-align: center;
}

.site-title {
    position: relative;
    top: 55px;
}
/*Header ends*/


/*Nav Starts*/
nav {
    height: 75px;
    position: sticky;
    top: 0;
}

.nav-bar {
    height: 75px;
    font-size: 20px;
    text-align: center;
}

.nav-bar li {
    padding: 0px 20px;
    position: relative;
    top: 25px;
}
/*Nav Ends*/

/*Main Starts*/
.my-works {
    height: 2000px;
    border-top: 2px solid lightgrey;
}
/*Main Ends*/