/*Universal starts*/
ul {
    background-color: pink;
}

li {
    display: inline-block;
}
/*Universal ends*/

/*Header and Navbar starts*/
header {
    height: 150px;    
}

.top-header, .bot-header {
    height: 75px;
    display: block;
    text-align: center;
}

.top-header {
    background-color: green;
    
}

.bot-header {
    background-color: yellow;
}

.nav-bar {
    height: 75px;
    font-size: 20px;
    
}

.nav-bar li {
    padding: 0px 20px;
    position: relative;
    top: 25px;
}
/*Header and Navbar ends*/