body {
  margin: 0;
  text-decoration: none;
  background-color: #efefef; }

a, a:hover, a:active, a:visited, a:focus {
  text-decoration: none; }

p {
  font-size: 1.2em;
  display: inline-block;
  font-family: "Gill Sans", sans-serif; }

nav {
  color: #efefef;
  height: 50px;
  width: 100%;
  z-index: 2;
  position: absolute;
  top: 65px; }

.nav-container {
  height: 100%;
  width: 100%; }

.nav-link {
  margin: 0px auto;
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.sticky {
  position: fixed;
  top: 0; }

.nav-background {
  background-color: rgba(6, 6, 6, 0.7);
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in; }

li {
  margin: 10px 30px; }

li a {
  display: inline;
  color: #efefef;
  font-size: 20px; }

.hero-container {
  padding: 0;
  margin-bottom: 30px; }

.hero {
  height: 600px;
  max-width: 99.9vw;
  background-image: linear-gradient(rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url("../../assets/images/lake-view.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top; }

.about-me-content {
  min-height: 350px;
  padding: 0px 50px;
  margin: 50px 0;
  line-height: 32px; }
  .about-me-content .row .col-md-8 {
    text-align: center; }
  .about-me-content .about-me-top .my-image {
    height: 175px;
    width: 18%;
    min-width: 200px;
    text-align: center; }
    .about-me-content .about-me-top .my-image img {
      height: 80%;
      width: 80%;
      border-radius: 100%; }
  .about-me-content p {
    margin-top: 10px; }

.my-works {
  text-align: center;
  color: #efefef; }
  .my-works .red-box {
    background-color: #e03a69;
    min-height: 375px;
    padding: 20px 45px 0px; }
    .my-works .red-box .box-header {
      min-height: 75px; }
    .my-works .red-box .box-paragraph {
      min-height: 185px;
      line-height: 28px; }
    .my-works .red-box .box-button {
      height: 100px; }
      .my-works .red-box .box-button a {
        width: 175px;
        height: 65px;
        padding-top: 15px;
        border: 5px solid transparent;
        border-radius: 50px;
        display: inline-block;
        font-size: 20px;
        background-color: #3a96e0;
        color: #efefef; }
        .my-works .red-box .box-button a:hover {
          text-decoration: none;
          font-weight: 700;
          background-color: #3a96e0;
          border-color: #efefef; }
    @media only screen and (max-width: 576px) {
      .my-works .red-box p {
        font-size: 1.2em; } }
  .my-works .blue-box {
    background-color: #3a96e0;
    min-height: 375px;
    padding: 20px 45px 0px; }
    .my-works .blue-box .box-header {
      min-height: 75px; }
    .my-works .blue-box .box-paragraph {
      min-height: 185px;
      line-height: 28px; }
    .my-works .blue-box .box-button {
      height: 100px; }
      .my-works .blue-box .box-button a {
        width: 175px;
        height: 65px;
        padding-top: 15px;
        border: 5px solid transparent;
        border-radius: 50px;
        display: inline-block;
        font-size: 20px;
        background-color: #e03a69;
        color: #efefef; }
        .my-works .blue-box .box-button a:hover {
          text-decoration: none;
          font-weight: 700;
          background-color: #e03a69;
          border-color: #efefef; }

footer {
  height: 30rem;
  background-color: #172730; }

/*# sourceMappingURL=style.css.map */
