body {
  margin: 0;
  background-color: whitesmoke; }

p {
  font-size: 1.3em;
  display: inline-block;
  font-family: "Gill Sans", sans-serif; }

nav {
  color: whitesmoke;
  height: 50px;
  width: 100%;
  z-index: 2;
  position: absolute;
  top: 65px; }

.nav-container {
  height: 100%;
  width: 100%; }

.nav-link {
  margin: 0px auto;
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.sticky {
  position: fixed;
  top: 0; }

.nav-background {
  background-color: rgba(6, 6, 6, 0.7);
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in; }

li {
  margin: 10px 30px; }

li a {
  display: inline;
  color: whitesmoke;
  font-size: 20px; }

.hero-container {
  padding: 0;
  margin-bottom: 30px; }

.hero {
  height: 600px;
  max-width: 100%;
  background-image: linear-gradient(rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url("../../assets/images/lake-view.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top; }

.about-me-content {
  min-height: 350px;
  line-height: 32px; }
  .about-me-content .about-me-top, .about-me-content .about-me-bot {
    padding: 0 50px;
    text-align: center; }
    .about-me-content .about-me-top .my-image, .about-me-content .about-me-bot .my-image {
      height: 160px;
      width: 160px;
      margin-right: 50px;
      text-align: center; }
      .about-me-content .about-me-top .my-image img, .about-me-content .about-me-bot .my-image img {
        height: inherit;
        width: inherit;
        border-radius: 100%; }
    .about-me-content .about-me-top .col-md-6, .about-me-content .about-me-bot .col-md-6 {
      padding: 0; }
  .about-me-content p {
    margin-top: 10px; }

.my-works-container {
  padding: 0; }

.my-works {
  margin-top: 55px; }
  .my-works div {
    min-height: 350px;
    padding: 30px 50px;
    text-align: center;
    color: whitesmoke; }
    .my-works div:nth-child(1) {
      background-color: #e53a76; }
    .my-works div:nth-child(2) {
      background-color: #3ab2e5; }
    .my-works div h2 {
      margin-bottom: 30px; }

.left-btn, .left-btn:visited {
  display: inline-block;
  padding: 15px 35px;
  margin-top: 30px;
  border-radius: 30px;
  color: #e53a76;
  background-color: whitesmoke;
  font-size: 1.3em; }
  .left-btn:hover {
    border: 2px solid whitesmoke;
    color: whitesmoke;
    background-color: #e53a76;
    font-weight: 600;
    transition: background-color 0.2s linear; }
  .left-btn:active {
    color: #e53a76;
    background-color: whitesmoke; }

.right-btn, .right-btn:visited {
  display: inline-block;
  padding: 15px 35px;
  margin-top: 30px;
  border-radius: 30px;
  color: #3ab2e5;
  background-color: whitesmoke;
  font-size: 1.3em; }
  .right-btn:hover {
    border: 2px solid whitesmoke;
    color: whitesmoke;
    background-color: #3ab2e5;
    font-weight: 600;
    transition: background-color 0.2s linear; }
  .right-btn:active {
    color: #3ab2e5;
    background-color: whitesmoke; }

a, a:hover, a:active, a:visited, a:focus {
  text-decoration: none; }

/*# sourceMappingURL=style.css.map */
