body {
    margin: 0;
}

nav {
    padding: 12px;
    height: 75px;
    width: 100%;
    z-index: 2;
    position: absolute;
    top: 50px;
}

.nav-link {
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sticky {
    position: sticky;
    top: 0;
        background-color: rgba(255, 182, 193, 0.3);
}

li {
    margin: 10px 30px;
}

li a {
    display: inline;
    color: white;
    font-size: 20px;
}

.hero-container {
    padding: 0;
}

.hero {
    height: 600px;
    background-image: linear-gradient(rgba(3, 3, 3, 0.5), rgba(3, 3, 3, 0.5)), url('../images/lake-view.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: inherit;
}

.power {
    height: 1000px;
    width: 100%;
    background-color: lightgrey;
}