body {
    margin: 0;
}

nav {
    height: 300px;
    width: 100%;
    background-color: green;
    position: fixed;
}

.hero {
    height: 1000px;
    width: 100%;
    /* background-image: url(""); */
}