body {
    margin: 0;
}

nav {
    color: lightgrey;
    height: 75px;
    width: 100%;
    z-index: 2;
    position: absolute;
    top: 50px;

}

.nav-container {
    height: 100%;
    width: 100%;
}

.nav-link {
    margin: 10px auto;
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sticky {
    position: fixed;
    top: 0;
    /* background-color: rgba(255, 182, 193, 0.3); */
}

.nav-background {
    background-color: rgba(6, 6, 6, .7);
    transition: all 1s ease-in;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
}


li {
    margin: 10px 30px;
}

li a {
    display: inline;
    color: white;
    font-size: 20px;
}

.hero-container {
    padding: 0;
}

.hero {
    height: 600px;
    background-image: linear-gradient(rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)), url('../images/lake-view.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: inherit;
}

.main-content div {
    min-height: 350px;
    padding: 30px 50px;
    text-align: center;
}

.main-content div:nth-child(1) {
    background-color: rgb(245,245,245);
}

.main-content div:nth-child(2) {
    color:  rgb(245,245,245);
    background-color: rgb(58,178,229);
}

h2 {
    margin-bottom: 30px;
}

.left-btn {
    display: inline-block;
    padding: 15px 35px;
    margin-top: 30px;
    border-radius: 30px;
    color: rgb(245, 245, 245);
    background-color: rgb(58, 178, 229);
    font-size: 1.3em;
    /* font-weight: 600; */
}

.left-btn:hover {
    border: 2px solid rgb(58, 178, 229);
    color: rgb(58, 178, 229);
    background-color: rgb(245, 245, 245);
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.2s linear;
}

.right-btn {
    display: inline-block;
    padding: 15px 35px;
    margin-top: 30px;
    border-radius: 30px;
    color: rgb(58, 178, 229);
    background-color: rgb(245, 245, 245);
    font-size: 1.3em;
    /* font-weight: 600; */
}

.right-btn:hover {
    border: 2px solid rgb(245, 245, 245);
    color: rgb(245, 245, 245);
    background-color: rgb(58, 178, 229);
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.2s linear;
}

p {
    /* padding: 5px 50px; */
    font-size: 1.3em;
    /* white-space: nowrap; */
}