$primary-color: rgb(245,245,245);
$complimentary-blue: rgb(58,178,229);
$transparent-black: rgba(30, 30, 30, 0.5);
$my-hero-link: url('../../assets/images/lake-view.jpg');

@mixin transition($property1, $property2, $property3) {
    transition: $property1 $property2  $property3;
    -webkit-transition: $property1 $property2  $property3;
    -moz-transition: $property1 $property2  $property3;
    -o-transition: $property1 $property2  $property3;
}

body {
    margin: 0;
    background-color: $primary-color;
}

// *** Navigation STARTS here ***
nav {
    color: $primary-color;
    height: 75px;
    width: 100%;
    z-index: 2;
    position: absolute;
    top: 50px;
}

.nav-container {
    height: 100%;
    width: 100%;
}

.nav-link {
    margin: 10px auto;
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sticky {
    position: fixed;
    top: 0;
}

.nav-background {
    background-color: rgba(6, 6, 6, .7);
    @include transition(all, .3s, ease-in);
}

li {
    margin: 10px 30px;
}

li a {
    display: inline;
    color: $primary-color;
    font-size: 20px;
}

// *** Hero STARTS here ***
.hero-container {
    padding: 0;
}

.hero {
    height: 600px;
    background-image: linear-gradient($transparent-black, $transparent-black), $my-hero-link;
    background-repeat: no-repeat;
    background-size: cover;
    position: inherit;
}

// *** Main STARTS here ***
.main {
    min-height: 350px;
    padding: 10px 230px;
    img{
        height: 200px;
        width: 200px;
        margin: 45px;
        border-radius: 100%;
    }
}


// .main-content div {
//     min-height: 350px;
//     padding: 30px 50px;
//     text-align: center;
// }

.main-content {
    div {
        min-height: 350px;
        padding: 30px 50px;
        text-align: center;
        &:nth-child(1) {
            background-color: $primary-color;
        }
        &:nth-child(2) {
            color: $primary-color;
            background-color: $complimentary-blue;
        }
    }
}

h2 {
    margin-bottom: 30px;
}

.left-btn {
    display: inline-block;
    padding: 15px 35px;
    margin-top: 30px;
    border-radius: 30px;
    color: rgb(230, 230, 230);
    background-color: rgb(58, 178, 229);
    font-size: 1.3em;
    &:hover {
        border: 2px solid $complimentary-blue;
        color: $complimentary-blue;
        background-color: $primary-color;
        font-weight: 600;
        transition: background-color 0.2s linear;
    }
    &:active {
        color: $primary-color;
        background-color: $complimentary-blue;
    }
}

.left-btn:visited {
    @extend .left-btn;
}

.right-btn {
    display: inline-block;
    padding: 15px 35px;
    margin-top: 30px;
    border-radius: 30px;
    color: rgb(58, 178, 229);
    background-color: rgb(245, 245, 245);
    font-size: 1.3em;
    &:hover {
        border: 2px solid rgb(245, 245, 245);
        color: rgb(245, 245, 245);
        background-color: rgb(58, 178, 229);
        font-weight: 600;
        transition: background-color 0.2s linear;        
    }
    &:active {
        color: rgb(58, 178, 229);
        background-color: rgb(245, 245, 245);        
    }
}

.right-btn:visited {
    @extend .right-btn;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
}

p {
    font-size: 1.3em;
    display: inline-block;
}